<!DOCTYPE html>
<html>
<head>
    <title>Şifre Sıfırlama</title>
</head>
<body>
    <h1>Şifre Sıfırlama</h1>
    <form method="post" action="/forget-password">
        <input type="email" name="email" placeholder="E-posta Adresi">
        <input type="text" name="username" placeholder="Kullanıcı Adı">
        <input type="password" name="newPassword" placeholder="Yeni Şifre">
        <input type="password" name="confirmNewPassword" placeholder="Yeni Şifre (Tekrar)">
        <button type="submit">Şifremi Sıfırla</button>
    </form>
</body>
</html>