<!DOCTYPE html>
<html>
<head>
    
    
    <title>Kayıt</title>
</head>
<body>
   
   
    <h1>Eyehub Test</h1>
    <form method="post" action="/register">
        <input type="text" name="username" placeholder="Kullanıcı Adı">
        <input type="email" name="email" placeholder="E-Mail">
        <input type="password" name="password" placeholder="Şifre">
        <input type="date" name="birthday" placeholder="Birthday">
        <input type="text" name="gender" placeholder="Gender">
        <input type="text" name="location" placeholder="Istanbul/Turkey">
        <!-- <input type="text" name="id" placeholder="id"> -->
        <button type="submit" class="button medium">Kayıt Ol</button>

    </form>
</body>
</html>
